In [34]:
import pandas as pd
import numpy as np

In [32]:
cordf = pd.DataFrame()
cordf = pd.DataFrame(columns = [1, 2, 3])
cordf = cordf.append({1 : 1, 2 : 4, 3 : 3}, ignore_index = True)
cordf = cordf.append({1 : 2, 2 : 5, 3 : 7}, ignore_index = True)
cordf = cordf.append({1 : 3, 2 : 7, 3 : 2}, ignore_index = True)
cordf = cordf.append({1 : 4, 2 : 1, 3 : 9}, ignore_index = True)
#cordf = cordf.append({1 : 6, 2 : 2, 3 : 4}, ignore_index = True)
cordf

   1  2  3
0  1  4  3
1  2  5  7
2  3  7  2
3  4  1  9

In [33]:
for i in cordf.index:
    for j in cordf.index:
        if i<j:
            print(i,":",j,"->", cordf.loc[i,j])            
            #cordf = cordf.append({'inicio' : i, 'fin' : j, 'peso' : w}, ignore_index = True)

0 : 1 -> 1
0 : 2 -> 4
0 : 3 -> 3
1 : 2 -> 5
1 : 3 -> 7
2 : 3 -> 2

In [39]:
df = cordf.where(np.triu(np.ones(cordf.shape)).astype(np.bool))
df

d:\GitHubMinedu\Topic-Modeling\env\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  """Entry point for launching an IPython kernel.

     1    2    3
0    1    4    3
1  NaN    5    7
2  NaN  NaN    2
3  NaN  NaN  NaN

In [40]:
df = df.stack().reset_index()
df.columns = ['Row','Column','Value']
print (df)

   Row  Column Value
0    0       1     1
1    0       2     4
2    0       3     3
3    1       2     5
4    1       3     7
5    2       3     2